/* --------------- cajas del panel de control ------------------ */
.panel-box {
    width: auto;
    min-height: 360px; /* altura mínima, ajusta este valor según necesites */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden; /* puedes quitar esto si quieres ver el overflow */
}

.main{
    margin-left: 10px;
    margin-right: 10px;
}

/*---------------------- Ocutar contenido --------------------------*/
.hidden {
    display: none !important; 
}

/* ---------------------- en móviles --------------------------- */
@media (max-width: 768px) {
    
    #left-column, #right-column { 
        margin-bottom: 1rem; 
    }
    
    .main{
        margin-left: 0;
        margin-right: 0;
    }
}
.table-responsive {
  width: 90%;
  overflow-x: auto;
}
